:root {
	--large-text-size: 1.953rem;
	--medium-text-size: 1.563rem;
	--small-text-size: 1.25rem;
	--extra-small-text-size: 1rem;

	--primary-dark: #27374D;
	--secondary-dark: #3f597c;
	--tertiary-dark: rgba(85, 132, 154, 0.3);
	--quarternary-dark: rgba(85, 132, 154, 0.9);
	--primary-light: #DDE6ED;
	--secondary-light: #c8d3dc;

	--grid-gap: 1rem;
	--mobile-grid-gap: 0.5rem;
	--padding: 0.3rem;
	--margin: 2rem;

	--border-raduis: 0.3rem;
	--border-raduis-button: 0.6rem;
}