main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/*backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);*/
}

.main__cards {
	display: grid;
	width: 45vw;
	height: 80vh;
	gap: var(--grid-gap);
	grid-template-columns: repeat(3, 1fr);
	margin: var(--margin);
}

.main__cards-card {
	display: flex;
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
	transform-origin: center center;
}

.main__cards-card img {
	height: 100%;	
	width: 100%;
	object-fit: cover;
}

.main__front-face,
.main__back-face {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: var(--border-raduis);
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}	

.main__front-face {
	background: var(--secondary-dark);
	transform: rotateY(0);
	-webkit-transform: rotateY(0);
	/*box-shadow: 0 0.3rem 1.3rem -0.2rem var(--primary-dark), 0 0.2rem 0.4rem -0.1rem var(--secondary-dark);*/
}

.main__back-face {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.main__cards-card--flipped .main__front-face {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.main__cards-card--flipped .main__back-face {
	transform: rotateY(0);
	-webkit-transform: rotateY(0);
}

.main__announcement {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--quarternary-dark);
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	display: none;
}

.main__announcement--visible {
	display: flex;
}

.main__reset {
	position: relative;
	background: linear-gradient(var(--secondary-dark), var(--primary-dark), var(--primary-dark));
	padding: var(--padding);
	color: var(--primary-light);
	border-radius: var(--border-raduis-button);
	font-size: var(--small-text-size);
	z-index: 200;
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

 .main__reset:hover {
	color: var(--secondary-light);
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
 }

.main__reset:active {
	transform: scale(0.97);
	-webkit-transform: scale(0.97);
}

@media screen and (max-width: 1000px) {
	.main__cards {
		width: 70vw;
		gap: var(--mobile-grid-gap);
	}
}

@media screen and (max-width: 600px) {
	.main__cards {
		width: 95vw;
		height: 65vh;
	}

	.main__reset {
		padding: var(--padding);
		font-size: var(--extra-small-text-size);
	}
}